<div class="container-fluid back">

    <div class="container py-5">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="card m-auto" >
              <a routerLink="/">
            <img class="card-img-top" src="assets/images/laptop-1.jpg"  alt="Card image cap" class="img-thumbnail" height="250px" >
            </a>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/">Hp Au-111-tx</a></h5>
              <p class="card-text ">Its integrated with most powerfull Cpu and Hardware.</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
          </div>
        </div>
      
      <div class="col-sm-4">
        <div class="card m-auto" >
            <a routerLink="/">
            <img class="card-img-top" src="assets/images/apple2.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
            </a>
            <div class="card-body" >
                <h5 class="card-title"><a routerLink="/">Apple Watch Series 3 GPS </a></h5>
              <p class="card-text ">42 mm Space Grey Aluminium Case with Grey Sport Band  (Grey Strap Regular)</p>
              <a routerLink="/product/11" class="btn btn-success">Buy Now</a>
            </div>
        </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card m-auto" >
              <a routerLink="/">
                <img class="card-img-top" src="assets/images/tvproduct.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
              </a>
              <div class="card-body" >
                <h5 class="card-title">
                  <a routerLink="/">
                  4K UHD TV </a>
                </h5>
                <p class="card-text ">SONY BRAVIA 55 inches Black color</p>
                <a routerLink="/" class="btn btn-success">Buy Now</a>
              </div>
          </div>
        </div>
    </div>
    </div>
    
    
  </div>
  <div class="container-fluid back">

    <div class="container py-5">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="card m-auto" >
              <a routerLink="/">
            <img class="card-img-top" src="assets/women/1.jpg"  alt="Card image cap" class="img-thumbnail" height="250px" >
            </a>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="#">Cottonwalas</a></h5>
              <p class="card-text ">Womens's Rayon Anarkali kurta</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
          </div>
        </div>
      
      <div class="col-sm-4">
        <div class="card m-auto" >
            <a routerLink="/">
            <img class="card-img-top" src="assets/women/2.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
            </a>
            <div class="card-body" >
                <h5 class="card-title"><a routerLink="/">Navlik</a></h5>
              <p class="card-text ">Womens dual dresses</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
        </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card m-auto" >
              <a routerLink="/">
                <img class="card-img-top" src="assets/women/3.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
              </a>
              <div class="card-body" >
                <h5 class="card-title">
                  <a routerLink="/">
                    Poshak </a>
                </h5>
                <p class="card-text ">Comes with a style</p>
                <a routerLink="/" class="btn btn-success">Buy Now</a>
              </div>
          </div>
        </div>
    </div>
    </div>
    
    
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="card m-auto" >
              <a routerLink="/">
            <img class="card-img-top" src="assets/women/4.jpg"  alt="Card image cap" class="img-thumbnail" height="250px" >
            </a>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/">Arayana</a></h5>
              <p class="card-text ">Blue stylish shirt</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
          </div>
        </div>
      
      <div class="col-sm-4">
        <div class="card m-auto" >
            <a routerLink="/">
            <img class="card-img-top" src="assets/women/5.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
            </a>
            <div class="card-body" >
                <h5 class="card-title"><a routerLink="/">BLACK BERRY </a></h5>
              <p class="card-text ">Imported Quality</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
        </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card m-auto" >
              <a routerLink="/">
                <img class="card-img-top" src="assets/women/6.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
              </a>
              <div class="card-body" >
                <h5 class="card-title">
                  <a routerLink="/">
                    ILLI LONDON</a>
                </h5>
                <p class="card-text ">womens maxi dress</p>
                <a routerLink="/" class="btn btn-success">Buy Now</a>
              </div>
          </div>
        </div>
    </div>
    </div>
    
    
  </div>

  <div class="container-fluid back">

    <div class="container py-5">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="card m-auto" >
              <a routerLink="/">
            <img class="card-img-top" src="assets/mens/mens1.jpg"  alt="Card image cap" class="img-thumbnail" height="250px" >
            </a>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="#">MEN'S DUAL SHIRT</a></h5>
              <p class="card-text ">It comes in 2 colors black and blue</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
          </div>
        </div>
      
      <div class="col-sm-4">
        <div class="card m-auto" >
            <a routerLink="/">
            <img class="card-img-top" src="assets/mens/mens2.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
            </a>
            <div class="card-body" >
                <h5 class="card-title"><a routerLink="/">USPA </a></h5>
              <p class="card-text ">Brand new pink shirt</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
        </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card m-auto" >
              <a routerLink="/">
                <img class="card-img-top" src="assets/mens/mens3.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
              </a>
              <div class="card-body" >
                <h5 class="card-title">
                  <a routerLink="/">
                  PETER ENGLAND </a>
                </h5>
                <p class="card-text ">Comes with a style</p>
                <a routerLink="/" class="btn btn-success">Buy Now</a>
              </div>
          </div>
        </div>
    </div>
    </div>
    
    
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="card m-auto" >
              <a routerLink="/">
            <img class="card-img-top" src="assets/mens/mens4.jpg"  alt="Card image cap" class="img-thumbnail" height="250px" >
            </a>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/">ALLEN SOLLY</a></h5>
              <p class="card-text ">Blue stylish shirt</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
          </div>
        </div>
      
      <div class="col-sm-4">
        <div class="card m-auto" >
            <a routerLink="/">
            <img class="card-img-top" src="assets/mens/mens5.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
            </a>
            <div class="card-body" >
                <h5 class="card-title"><a routerLink="/">BLACK BERRY </a></h5>
              <p class="card-text ">Imported Quality</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
        </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card m-auto" >
              <a routerLink="/">
                <img class="card-img-top" src="assets/mens/mens6.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
              </a>
              <div class="card-body" >
                <h5 class="card-title">
                  <a routerLink="/">
                  USPA </a>
                </h5>
                <p class="card-text ">POLO T-SHIRT</p>
                <a routerLink="/" class="btn btn-success">Buy Now</a>
              </div>
          </div>
        </div>
    </div>
    </div>
    
    
  </div>


