<div class="container-fluid back">

    <div class="container py-5">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="card m-auto" >
              <a routerLink="/">
            <img class="card-img-top" src="assets/women/1.jpg"  alt="Card image cap" class="img-thumbnail" height="250px" >
            </a>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="#">Cottonwalas</a></h5>
              <p class="card-text ">Womens's Rayon Anarkali kurta</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
          </div>
        </div>
      
      <div class="col-sm-4">
        <div class="card m-auto" >
            <a routerLink="/">
            <img class="card-img-top" src="assets/women/2.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
            </a>
            <div class="card-body" >
                <h5 class="card-title"><a routerLink="/product/12">Navlik</a></h5>
              <p class="card-text ">Womens dual dresses</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
        </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card m-auto" >
              <a routerLink="/">
                <img class="card-img-top" src="assets/women/3.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
              </a>
              <div class="card-body" >
                <h5 class="card-title">
                  <a routerLink="/">
                    Poshak </a>
                </h5>
                <p class="card-text ">Comes with a style</p>
                <a routerLink="/" class="btn btn-success">Buy Now</a>
              </div>
          </div>
        </div>
    </div>
    </div>
    
    
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="card m-auto" >
              <a routerLink="/">
            <img class="card-img-top" src="assets/women/4.jpg"  alt="Card image cap" class="img-thumbnail" height="250px" >
            </a>
            <div class="card-body">
              <h5 class="card-title"><a routerLink="/">Arayana</a></h5>
              <p class="card-text ">Blue stylish shirt</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
          </div>
        </div>
      
      <div class="col-sm-4">
        <div class="card m-auto" >
            <a routerLink="/">
            <img class="card-img-top" src="assets/women/5.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
            </a>
            <div class="card-body" >
                <h5 class="card-title"><a routerLink="/">BLACK BERRY </a></h5>
              <p class="card-text ">Imported Quality</p>
              <a routerLink="/" class="btn btn-success">Buy Now</a>
            </div>
        </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card m-auto" >
              <a routerLink="/">
                <img class="card-img-top" src="assets/women/6.jpg"  class="img-thumbnail" alt="Card image cap" height="250px" >
              </a>
              <div class="card-body" >
                <h5 class="card-title">
                  <a routerLink="/">
                    ILLI LONDON</a>
                </h5>
                <p class="card-text ">womens maxi dress</p>
                <a routerLink="/" class="btn btn-success">Buy Now</a>
              </div>
          </div>
        </div>
    </div>
    </div>
    
    
  </div>


