<header>
  
  <div class="container">
    <a href="#" id="logo"><i>SHOPHERE.COM</i></a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">HOME</a></li>
        <li><a href="#" routerLink="/menu">MENU</a></li>
        <li>
          <a href="#" routerLink="/account">LOG IN</a></li>
        <li><a href="#" routerLink="/about">ABOUT US</a></li>
      </ul>
    </nav>
  </div>

</header>


<router-outlet></router-outlet>


<footer>
  <div class="container-fluid footer pt-10">
    
    <div class="row p-5">
      <div class="col-4">
        <p class="lead"> ABOUT</p>
        <p><a routerLink="/contactus">Contact Us</a></p>
        <p ><a routerLink="/">About Us</a></p>
        <p ><a href="#">Press</a></p>

      </div>
      <div class="col-4">
        <p class="lead">HELP</p>
        <p ><a href="#">Payment</a></p>
        <p ><a href="#">Shipping</a></p>
        <p ><a href="#">Returns & Cancellation</a></p>
      </div>
      <div class="col-4">
        <p class="lead">Registered Office Address</p>
        <p > SHOPHERE.COM<br>
            Ahmedabad,
            Gujarat - 560034
            India</p>
      </div>
      <div class="row ">
        <div class="col text-center">
        <p>
          <a href="#"><i class="fa fa-instagram"></i></a>&nbsp; 
          <a href="#"><i class="fa fa-facebook-f"></i></a> &nbsp;
          <a href="#"><i class="fa fa-twitter"></i></a>
        </p>
        <p>&copy;2020-2021 SHOPHERE.COM</p>
        </div>
      </div>
    </div>

  </div>
</footer>